<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SegmentedControlDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>10078EC41E66AB0E0002F635</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>10078ED81E66AB0E0002F635</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>10078EE31E66AB0E0002F635</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
